<!DOCTYPE html>
<html>
<head>
    <title>Verificar DNI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <section>
      <div class="container custom-container">
        <div class="form-group">
            <div class="form-value">
                <form (submit)="verificarDNI()" class="transparente">
                    <h2 class="title">Ingrese su DNI</h2>
                    <div class="inputbox">
                        <i class="fas fa-card card-outline"></i>
                        <input type="text" [(ngModel)]="dni" name="dni" autocomplete="off" required placeholder="DNI">
            
                    </div>
                    <button type="submit" class="btn btn-primary">Accede a Votar</button>
                </form>
            </div>
        </div>
      </div>
    </section>
</body>
</html>