<body>
  <div class="container">
    <h1 class="title">Elige una Lista Completa</h1>
  
    <div class="card-container">
      <div class="custom-card" (click)="seleccionarLista('453')" [ngClass]="{'selected-card': selectedLista === '453'}">
        <img src="./assets/2.png" alt="Logo Lista 453" class="card-img-top">
        <h2>Lista P.E.V - Completa</h2>
        <h4>Bruno Buasso</h4>
        <h4>Presidente</h4>
        <h4>-</h4>
        <h4>Bradley Bazan</h4>
        <h4>Secretario General</h4>
      </div>
  
      <div class="custom-card" (click)="seleccionarLista('101')" [ngClass]="{'selected-card': selectedLista === '101'}">
        <img src="./assets/3.png" alt="Logo Lista 878" class="card-img-top">
        <h2>Lista MIVP - Completa</h2>
        <h4>Aldana Masnovo</h4>
        <h4>Presidente</h4>
        <h4>-</h4>
        <h4>Ludmila Carabajal</h4>
        <h4>Secretaria General</h4>
      </div>
    </div>
  
    <div class="btn-container">
      <button class="btn btn-enviar" (click)="enviarSeleccion()">Enviar</button>
      <button class="btn btn-danger" routerLink="/sistema">Atras</button>
    </div>
  </div>
  
</body>