<div class="container">
  <h1>Elije Secretarias</h1>
  <div id="secretarySelection">
    <div
      *ngFor="let candidato of candidatos"
      class="card"
      [class.selected]="seleccionService.secretarySelection === candidato.nombre"
      (click)="selectOption(candidato.nombre)"
    >
      <img [src]="candidato.logo" class="card-img-top" [alt]="candidato.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ candidato.nombre }}</h5>
        <p class="card-text">Candidatos:</p>
        <ul class="card-text">
          <li>{{ candidato.secretariaGeneral }}</li>
          <li>{{ candidato.viceSecretaria }}</li>
        </ul>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-dark" (click)="goBack()">Atrás</button>
  <button
  type="button"
  class="btn btn-dark"
  id="nextBtn"
  (click)="nextPage('summary')"
  [disabled]="!seleccionService.secretarySelection"
>
  Siguiente
</button>
</div>
